name: Build Executable

on:
  push:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade jolt pyyaml cibuildwheel
    - name: Install dependencies on Windows
      if: matrix.os == 'windows-latest'
      run: |
        choco install diffutils
    - name: Jolt Cache
      id: jolt-cache
      uses: actions/cache@v4
      with:
        path: ${{ github.workspace }}/cache
        key: jolt-cache-${{ runner.os }}
    - name: Setup MSVC environment
      uses: TheMrMilchmann/setup-msvc-dev@v4
      with:
        arch: x64
      if: matrix.os == 'windows-latest'
    - name: Create version header
      run: python scripts/version.py ${{ github.run_number}}
    - name: Build fstree
      if: matrix.os == 'windows-latest'
      run: python -m jolt -c jolt.cachedir=${{ github.workspace }}/cache build fstree/deps -c sysroot/ -vvv
    - name: Build and test fstree
      if: matrix.os != 'windows-latest'
      run: python -m jolt -c jolt.cachedir=${{ github.workspace }}/cache build fstree tests -c sysroot/ -vvv
    - name: Strip binary
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      run: strip sysroot/bin/fstree
    - name: Rename binary
      if: matrix.os == 'windows-latest'
      run: mv sysroot/bin/fstree.exe sysroot/bin/fstree-windows-x86_64.exe
    - name: Rename binary
      if: matrix.os == 'ubuntu-latest'
      run: mv sysroot/bin/fstree sysroot/bin/fstree-linux-x86_64
    - name: Rename binary
      if: matrix.os == 'macos-latest'
      run: mv sysroot/bin/fstree sysroot/bin/fstree-darwin-x86_64
    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: binary-${{ matrix.os }}
        path: ./sysroot/bin
    - name: Remove build artifacts
      if: matrix.os != 'windows-latest'
      run: rm -rf build sysroot
    - name: Build wheel deps
      if: matrix.os == 'macos-latest'
      run: python -m jolt -c jolt.cachedir=${{ github.workspace }}/cache build fstree/deps -c sysroot/ -vvv
    - name: Build wheels
      uses: pypa/cibuildwheel@v3.3.1
    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: wheels-${{ matrix.os }}
        path: ./wheelhouse/*.whl
  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
    - name: Download
      uses: actions/download-artifact@v4
      with:
        name: binary-windows-latest
    - name: Download
      uses: actions/download-artifact@v4
      with:
        name: binary-ubuntu-latest
    - name: Download
      uses: actions/download-artifact@v4
      with:
        name: binary-macos-latest
    - name: Download wheel
      uses: actions/download-artifact@v4
      with:
        name: wheels-macos-latest
    - name: Download wheel
      uses: actions/download-artifact@v4
      with:
        name: wheels-ubuntu-latest
    - name: Download wheel
      uses: actions/download-artifact@v4
      with:
        name: wheels-windows-latest
    - name: Upload executable
      uses: actions/upload-artifact@v4
      with:
        name: fstree
        path: bin
    - name: Upload wheels
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: wheelhouse
    - name: Get date
      id: date
      run: echo ::set-output name=date::$(date +%y.%m)
    - name: Create release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.date.outputs.date }}.${{ github.run_number }}
        release_name: ${{ steps.date.outputs.date }}.${{ github.run_number }}
        body: |
          This is the release of the ${{ github.run_number }} build.
        draft: false
        prerelease: false
    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: fstree-windows-x86_64.exe
        asset_name: fstree-windows-x86_64.exe
        asset_content_type: application/octet-stream
    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: fstree-linux-x86_64
        asset_name: fstree-linux-x86_64
        asset_content_type: application/octet-stream
    - name: Upload release asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: fstree-darwin-x86_64
        asset_name: fstree-darwin-x86_64
        asset_content_type: application/octet-stream
